/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Root */
:root {
    --clr-primary:#298a85;
    --clr-primary-light:#5f9c99;
    --clr-secondary:#2cb04f;
    --clr-grey-1:#5b5e5d;
    --clr-grey-5:#787d7b;
    --clr-grey-10:#b8bab9;
    --ff-white:#f5f5f5;
    --ff-primary:Poppins;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--clr-white);
    font-family: var(--ff-primary);
}

/* Global Styles*/
/* btn*/
.btn {
    padding: 10px;
    text-decoration-color: var(--clr-white);
    background-color: var(--clr-primary);
}
.btn a:hover {
    background-color:var(--clr-primary-light);
}

